body{
    background-color: rgb(247, 228, 231);
}
.anchor{
    font-weight: bold;
    text-decoration: none;
    color: #922b21;
}
.icon{
    color: #922b21;
}
.cart{
    font-size: 25px;
}
.btn-minus{
    position: relative; 
    left: 10px; 
    top: -3.5px;
    z-index: 1;
    background-color: #922b21;
    color: white;
}
.btn-plus{
    position: relative;
     left: -20px; 
     top: -3.5px;
     z-index: 1;
     background-color: #922b21;
    color: white;
}
.btn-minus:hover,.btn-plus:hover{
    background-color: #922b21;
    color: aliceblue;
}
.qty-input{
    width: 100px;
    height: 30px;
    text-align: center;
    color: #922b21;
    font-weight: bold;
}
.nav-hover:hover{
    text-decoration: underline;
    color: rgb(218, 199, 34);
    font-size: 18px;
}
.alignment{
    text-align: justify;
}
.formalign{
  position: relative;
  left: 20rem;
}
.bgmaroon{
background-color: #922b21;
color: white;
}
.btncolor{
    background-color: #922b21;
    color: white;
    font-weight: bold;
}
.textcolor::placeholder{
    color: #922b21;
}
.btncolor:hover{
    background-color: yellow;
    color: black;
    font-weight: bold;
}