{% load static %}
<!--footer start-->
<div class="row mt-3 bg-light">
    <div class="col-md-4">
        <h5>Address</h5><hr>
        2nd floor, jain complex<br>
        Near City Hospital<br>
        Ambika Nagar-Pune<br><br>
        <p><i class="bi bi-telephone-fill anchor"></i>:888888888</p>
        <p><i class="bi bi-envelope-fill anchor"></i>: cosmeticstore@gmail.com</p>
    </div>
    <div class="col-md-4">
        <h5>Quick Links</h5><hr>
        <p><a href="/" class="anchor" ><i class="bi bi-house-fill"></i>Home</a></p>
        <p><a href="/about" class="anchor"><i class="bi bi-file-person-fill"></i>About</a></p>
        <p><a href="/contact" class="anchor"><i class="bi bi-person-lines-fill"></i>Contact Us</a></p>
        <p><a href="/viewcart" class="anchor"><i class="bi bi-cart-fill cart icon nav-hover"></i>Cart</a></p>
 
    </div>
    <div class="col-md-4">
        <h5>Contact Us</h5><hr>
        <h5><a href="https://www.facebook.com"><i class="bi bi-facebook icon" ></i></a></h5>
        <h5><a href="http://www.instagram.com"><i class="bi bi-instagram icon" ></i></a></h5>
        <h5><a href="http://www.twitter.com"><i class="bi bi-twitter icon" ></i></a></h5>
        <h5><a href="http://www.linkedin.com"><i class="bi bi-linkedin icon" ></i></a></h5>

    </div>
</div>
<!--footer ends-->
</div><!--container end-->

<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/js/popper.min.js' %}"></script>
</body>
</html>