{% extends 'base.html' %}
{% block 'main' %}

<!--cart start-->
<div class="row mt-3">
    <div class="col-md-9">
        <h5 class="bgmaroon p-2 rounded">Customer Details</h5>
        {% for x in  data %}
        {% if forloop.counter == 1 %}
        <p><strong>Name:</strong>&nbsp;&nbsp;{{x.uid.username}}</p>
        
        <p><strong>Email:</strong>&nbsp;&nbsp;{{x.uid.email}}</p>
        {% endif %}
        {% endfor %}
        <p><strong>Mobile Number:</strong>&nbsp;&nbsp;{{address.mobile}}</p>
        <p><strong>Delivery Address:</strong></p>
        <p>&nbsp;&nbsp;{{address.line1}}</p>
        <p>&nbsp;&nbsp;{{address.city}},{{address.state}},{{address.postal_code}}</p>
        
        <h5 class="bgmaroon p-2 rounded">Product Details</h5>
        <!--product detail row start-->
        {% for x in data %}
        <div class="row mt-3">
            <div class="col-md-6">
                <img src="{{x.pid.pimage.url}}" class="card-img-top" alt="...">
            </div>
            <div class="col-md-6">
                <p><strong>Product Name:</strong>&nbsp;&nbsp;{{x.pid.name}}</p>
                <p><strong>Price:</strong>&nbsp;&nbsp;Rs. {{x.pid.price}}</p>
                {% if x.pid.cat == 1 %}
                <p><strong>Category:</strong>&nbsp;&nbsp;Makeup Products</p>
                {% elif x.pid.cat == 2 %}
                <p><strong>Category:</strong>&nbsp;&nbsp;Hair Care Products</p>
                {% elif x.pid.cat == 3 %}
                <p><strong>Category:</strong>&nbsp;&nbsp;Skin Care Products</p>
                {% elif x.pid.cat == 4 %}
                <p><strong>Category:</strong>&nbsp;&nbsp;Appliances</p>
                {% else %}
                <p><strong>Category:</strong>&nbsp;&nbsp;Manicure & Pedicure Products</p>
                {% endif %}
                <p><strong>Description:</strong>&nbsp;&nbsp;{{x.pid.pdetails}}</p>
                <a href="/removeorder/{{x.id}}" class="btn btncolor">Remove</a>
            </div>
        </div><!--product  detail row end-->
        {% endfor %}
    </div><!--customer detail end-->
    <div class="col-md-3">
        <h5 class="bgmaroon p-2 rounded">Total Amount</h5>
        <p><strong>Total({{n}} items):</strong>&nbsp;&nbsp;Rs. {{total}}</p>
        <p><strong>Total Amount:</strong>&nbsp;&nbsp;Rs. {{total}}</p>
        <a href="/makepayment" class="btn btncolor"> Make Payment</a>
    </div><!--total  amount detail ends-->

</div><!--customer and product details end-->
<!--cart end-->

{% endblock 'main' %}