{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cosmetic Store|Register</title>
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}"/>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4 mt-3  shadow p-4 mx-auto">
                <h2 class="text-center">Registration</h2>
                {% if errmsg %}
                  <div class="alert alert-danger alert-dismissible" role="alert">
                    {{errmsg}}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  </div>
                {% endif %}
                <form  method="POST" action="/register" >
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="Input1" class="form-label">Username:</label>
                        <input type="email" name="uname" class="form-control" id="Input1" placeholder="Enter Username">
                      </div><!--username ends-->
                      <div class="mb-3">
                        <label for="Input2" class="form-label">Password:</label>
                        <input type="password" name="upass" class="form-control" id="Input2" placeholder="Enter Password">
                      </div><!--password ends-->
                      <div class="mb-3">
                        <label for="Input3" class="form-label">Confirm Password:</label>
                        <input type="password" name="ucpass" class="form-control" id="Input3" placeholder="Enter Password Again">
                      </div><!--confirm password-->
                      <div class="mb-3">
                        <input type="submit" value="Register" class="btn btncolor">
                       Already User?<a href="/login" class="anchor">Login</a>
                      </div>
                      {% if success %}
                      <div class="alert alert-success alert-dismissible" role="alert">
                        {{success}}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                      </div>
                      {% endif %}
                </form>
            </div>
        </div>
    </div>
    <script src="assets/js/bootstrap.min.js"></script>
</body>
</html>